body {
    background: unset !important;
}

* {
    box-shadow: unset !important;
}

img[alt="广告"] {
    display: none !important;
}

.Notification-white {
    background: #fbfbfb !important;
}

.RichContent, .QuestionRichText {
    figure {
        width: 50%;

        div {
            background: #fbfbfb;
        }

        img {
            opacity: 0;


            &:hover {
                opacity: 1;
            }
        }
    }
}

svg {
    display: none;
}

.Button, button, .QuestionHeader-topics > div {
    background: #ececec !important;
    color: #0d0d0d !important;
    padding: 3px 6px !important;
    line-height: unset !important;
    border-radius: 4px !important;
    font-size: 12px !important;
    border: unset !important;
    height: unset !important;
}

main .Topstory-container {
    width: 736px;
    margin-left: 160px;

    > div:nth-child(2) {
        display: none;
    }

    .Topstory-mainColumn {
        width: unset;
        margin-right: 0;
        flex-shrink: 1;

        > div:not(.Topstory-mainColumnCard) {
            display: none;
        }

        .Topstory-mainColumnCard {
            box-shadow: unset;

            .Button, button {
                opacity: 0.6;
            }

            .ContentItem-title {
                font-size: 20px;
                color: #4007a2;
                font-weight: normal;

                &:hover {
                    text-decoration: underline;
                }

                span {
                    color: #c80000;
                }
            }

            .RichContent.is-collapsed {
                span.RichText {
                    color: #00000099;
                }
            }

            .UserLink-link img {

                display: none;
            }

            .RichContent-cover {
                /*img {*/
                /*    opacity: 0;*/
                /*}*/
                /*&:hover {*/
                /*    img {*/
                /*        opacity: 1;*/
                /*    }*/
                /*}*/
            }


            .ContentItem-actions > * {
                margin-left: 4px;
            }
        }


    }

}


header {

    > div > div:first-child {
        background-image: url(https://www.baidu.com/img/flexible/logo/pc/result@2.png);
        background-size: 100px 32px;
        background-repeat: no-repeat;
        background-position: left center;
    }

    nav {
        order: 2;

        * {
            font-size: 14px !important;
            font-weight: normal !important;
        }

        div > div {
            display: none;
        }
    }

    .SearchBar {
        a {
            display: none;
        }

        .Popover {
            .SearchBar-input {
                margin-left: 120px;
                max-width: calc(100% - 120px);
                padding: 0 0 0 16px;
            }

            .SearchBar-searchButton {
                background: #4e6ef2 !important;
                width: 100px;
                height: 100% !important;
                color: white !important;
                border-radius: 0 10px 10px 0 !important;
            }
        }

    }
}

