body {
    background: unset !important;
}

* {
    box-shadow: unset !important;
}

img[alt="广告"], .Pc-word-new, .Question-sideColumn {
    display: none !important;
}

.Notification-white {
    background: #fbfbfb !important;
}

.RichContent, .QuestionRichText {
    figure {
        width: 50%;

        div {
            background: #fbfbfb;
        }

        img {
            opacity: 0;


            &:hover {
                opacity: 1;
            }
        }
    }
}

svg {
    opacity: .2;
}

.Avatar {
    opacity: .5;
}

button:not(.QuestionRichText-more):not(.ContentItem-more):not(.SearchBar-searchButton), .QuestionHeader-topics > div {
    text-align: left !important;
    min-width: unset !important;
    background: #fbfbfb !important;
    color: #0d0d0d !important;
    padding: 3px 6px !important;
    line-height: unset !important;
    border-radius: 4px !important;
    font-size: 12px !important;
    border: unset !important;
    height: unset !important;

    &.Button--red {
        color: #f05159 !important;
    }

    &.is-active {
        color: #1772f6 !important;

    }
}

main .Topstory-container {
    width: 736px;
    margin-left: 160px;

    > div:nth-child(2) {
        display: none;
    }

    .Topstory-mainColumn {
        width: unset;
        margin-right: 0;
        flex-shrink: 1;

        > div:not(.Topstory-mainColumnCard) {
            display: none;
        }

        .Topstory-mainColumnCard {
            box-shadow: unset;


            .ContentItem-title {
                font-size: 20px;
                color: #4007a2;
                font-weight: normal;

                &:hover {
                    text-decoration: underline;
                }

                span {
                    color: #c80000;
                }
            }

            .RichContent.is-collapsed {
                span.RichText {
                    color: #00000099;
                }
            }

            .UserLink-link img {

                display: none;
            }

            .RichContent-cover {
                /*img {*/
                /*    opacity: 0;*/
                /*}*/
                /*&:hover {*/
                /*    img {*/
                /*        opacity: 1;*/
                /*    }*/
                /*}*/
            }


        }


    }

}

.ContentItem-actions, .QuestionButtonGroup, .QuestionHeaderActions {
    margin: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;

    > * {

        margin-right: 0 !important;
    }

    > *:not(:first-child) {
        margin-left: 4px !important;
    }

    .Button, button {
        opacity: 0.6;
        margin-right: 0 !important;

        &:hover {
            opacity: 1;
        }
    }
}

.Comments-container, .List-headerOptions, .ContentItem-meta, .ProfileButtonGroup, .Modal-content {
    button {
        color: #0d0d0d;
        opacity: 0.6;

        &:hover {
            opacity: 1;
        }
    }
}


header.AppHeader {

    > div > div:first-child {
        background-image: url(https://www.baidu.com/img/flexible/logo/pc/result@2.png);
        background-size: 100px 32px;
        background-repeat: no-repeat;
        background-position: left center;
    }

    nav {
        order: 2;

        * {
            font-size: 14px !important;
            font-weight: normal !important;
        }

        div > div {
            display: none;
        }
    }

    .SearchBar {
        a {
            display: none;
        }

        .Popover {
            .SearchBar-input {
                margin-left: 120px;
                max-width: calc(100% - 120px);
                padding: 0 0 0 16px;
            }

            .SearchBar-searchButton {
                font-size: 16px;
                background: #4e6ef2 !important;
                width: 100px;
                height: 100% !important;
                color: white !important;
                border-radius: 0 10px 10px 0 !important;
            }
        }

    }
}

